* {
  box-sizing: border-box;
}
html {
  font-family: 'Raleway', sans-serif;;
}
body {
  background-color: #dee2e8;
}
nav {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  font-size: 20px;
  background-color: #dee2e8;
}
nav ul{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  overflow: hidden;
}
nav ul li {
  display: inline;
  cursor: pointer;
}
nav ul li a {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 17px;
}
a {
  color: black;
  text-decoration: none;
}
.welcome {
  text-align: center;
  font-weight: bold;
}
.landing {
  width: 100%;
  padding-top: 4em;
  text-align: center;
  font-size: 50px;
  line-height: 0.5em;
  color: #1fc2d3;
}
.landingText {
  border-top: 0.1em solid #1fc2d3;
  border-bottom: 0.1em solid #1fc2d3;
}
.greeting {
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.1em;
  font-size: 3em;
}
.about {
  font-size: 1.5em;
}
.abouttext {
  font-size: 20;
  margin-right: 10em;
  margin-left: 10em;
}
.aboutme1 {
  height: 20em;
  float: left;
  padding-right: 1em;
}
.social {
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
.fa {
  padding: 17px 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.5;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  color: white;
  background: #38A1F3;
}
.fa-spotify {
  color: black;
  background: #1db954;
}
.fa-linkedin {
  color: white;
  background: #0077B5;
}
.fa-github {
  color: #dee2e8;
  background: #4078c0;
}
.columns {
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
}
.titleBlock {
  padding-top: 3.5em;
  border-bottom: 0.05em solid black;
  width: 97%;
}
.job {
  line-height: 0.3em;
  width: 50%;
  margin-top: 0.5em;
}
.col1 {
  float: left;
  width: 50%;
  padding-right: 1em;
  padding-top: 1em;
}
.col2 {
  float: right;
  width: 50%;
  padding-left: 1em;
  padding-top: 1em;
}
.googlePhoto {
  display: block;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
}
.obenPhoto {
  display: block;
  height: 22em;
  margin-left: auto;
  margin-right: auto
}
